<div class="container">
    <h1>Contact</h1>
    <ul class="social-media">
        <li><i class="bx bxl-gmail"></i></li>
        <li><i class="bx bxl-skype"></i></li>
        <li><i class="bx bxl-facebook-circle"></i></li>
        <!-- <li><i class="bx bxl-instagram"></i></li> -->
        <li><i class="bx bxl-linkedin"></i></li>
        <li><i class="bx bxl-github"></i></li>
        <!-- <li><i class="bx bxl-stack-overflow"></i></li> -->
    </ul>
    <ul class="contact-info">
        <li>Mobile: +8801799268347</li>
        <li>matiurrasel1002@gmail.com</li>
    </ul>
</div>